web/app/plugins
web/app/mu-plugins
npm-debug.log
node_modules

nbproject/
.idea
.vagrant
vendor/
.htaccess
php_errors.log
.DS_Store
wp
uploads/
web/uploads/
.env
phpdotenv
web/app/uploads/
web/app/wfcache/

